<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <style type="text/css">
		.topButton
        {
            color: white;
        }
        .topButton:hover
        {
            color: royalblue;
        }
        .topButton:active
        {
            color: royalblue;
        }
        #bottomText1
		{
            position: fixed;
            bottom: 2%;
            left: 20%;
            right: 20%;
            font-family: "Ubuntu Light";
            font-size: 62%;
            color: black;
		}
        #bottomText2
		{
            position: fixed;
            bottom: 4%;
            left: 20%;
            right: 20%;
            font-family: "Ubuntu Light";
            font-size: 62%;
            color: black;
		}
        #bottomText3
		{
            position: fixed;
            bottom: 6%;
            left: 20%;
            right: 20%;
            font-family: "Ubuntu Light";
            font-size: 62%;
            color: black;
		}
        .eachButton
        {
            font-family: "Ubuntu";
            background: ghostwhite;
            font-size: 20px;
            border-radius: 3px;
            border: 1px solid black;
        }
        .eachButton:hover
        {
            font-family: "Ubuntu";
            background: royalblue;
            color: white;
            font-size: 20px;
            border-radius: 3px;
            border: 1px solid white;
        }
        .buttonClicked
        {
            font-family: "Ubuntu";
            background: royalblue;
            color: white;
            font-size: 20px;
            border-radius: 3px;
            border: 1px solid white;
        }
        .submitButtonClass
        {
            position: fixed;
            height: 4%;
            width:5%;
            top:82.7%;
            right: 2.8%;
            background: royalblue;
            border-color: dodgerblue;
            border-radius: 3px;
            box-shadow: dodgerblue;
            font-family: Ubuntu;
            color: white;
        }
        .submitButtonClass:hover
        {
            position: fixed;
            height: 4%;
            width:5%;
            top:82.7%;
            right: 2.8%;
            background: white;
            border-color: dodgerblue;
            border-radius: 3px;
            box-shadow: dodgerblue;
            font-family: Ubuntu;
            color: royalblue;
        }
        ::-webkit-scrollbar
        {
            width: 1.1%;
        }
        ::-webkit-scrollbar-track
        {
            background: lightgray;
        }
        ::-webkit-scrollbar-thumb
        {
            background: royalblue;
        }
        ::-webkit-scrollbar-thumb:hover
        {
            background: royalblue;
        }
	</style>
      <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>

    <script>
    var config =
        {
            apiKey: "AIzaSyDiYMG5vckhfwx3FX6bJdwSO95_4jzHIvg",
            authDomain: "easyml-3ac11.firebaseapp.com",
            databaseURL: "https://easyml-3ac11.firebaseio.com",
            projectId: "easyml-3ac11",
            storageBucket: "easyml-3ac11.appspot.com",
            messagingSenderId: "565149087386"
        };
    firebase.initializeApp(config);
    </script>

    <script type="text/javascript">
        var firebaseRef = firebase.database().ref();
        var hasLoaded=false;
        function clickButton(a)
        {
            if(a==1)
            {
                document.getElementById("howTo").className='buttonClicked';
                document.getElementById("theory").className='eachButton';
                document.getElementById("comments").className='eachButton';
                document.getElementById("upperHowTo").style="background: white;border-width: 3px;font-family: Ubuntu; font-size: 126%; position: fixed;border: 3px solid black;top: 29%; left: 2%; border-color: black; overflow: auto; padding: 5px;width: 95%; height: 59%; visibility: visible;";
                document.getElementById("upperTheory").style="visibility: hidden;";
                document.getElementById("upperComments").style="visibility: hidden";
                document.getElementById("mailInput").style="visibility: hidden";
                document.getElementById("passwordInput").style = "visibility: hidden";
                document.getElementById("commentInput").style = "visibility: hidden";
                document.getElementById("submitButton").style = "visibility: hidden";
                document.getElementById("title").style="visibility: hidden;";
                document.getElementById("loading").style="visibility: hidden;";
            }
            else if(a==2)
            {
                document.getElementById("theory").className='buttonClicked';
                document.getElementById("howTo").className='eachButton';
                document.getElementById("comments").className='eachButton';
                document.getElementById("upperHowTo").style="visibility: hidden;";
                document.getElementById("upperTheory").style="background: white;border-width: 3px; font-family: Ubuntu; font-size: 126%; position: fixed;border: 3px solid black;top: 29%; left: 2%; border-color: black; overflow: auto; padding: 5px;width: 95%; height: 59%; visibility: visible;";
                document.getElementById("upperComments").style="visibility: hidden";
                document.getElementById("mailInput").style="visibility: hidden";
                document.getElementById("passwordInput").style = "visibility: hidden";
                document.getElementById("commentInput").style = "visibility: hidden";
                document.getElementById("submitButton").style = "visibility: hidden";
                document.getElementById("title").style="visibility: hidden;";
                document.getElementById("loading").style="visibility: hidden;";
            }
            else
            {
                document.getElementById("comments").className='buttonClicked';
                document.getElementById("theory").className='eachButton';
                document.getElementById("howTo").className='eachButton';
                document.getElementById("upperHowTo").style="visibility: hidden;";
                document.getElementById("upperTheory").style="visibility: hidden;";
                document.getElementById("upperComments").style="background: white;white-space: pre-line; border-width: 3px; font-family: Ubuntu; font-size: 126%%; position: fixed;border: 3px solid black;top: 29%; left: 2%; border-color: black; overflow: auto; padding: 5px;width: 95%; height: 36%; visibility: visible";
                document.getElementById("mailInput").style="left: 2%; position: fixed; top:68.5%; height: 4.5%; width: 95.7%; font-family: Ubuntu; font-size: 15px; border-width: 3px; border: 3px solid black; border-color: black; visibility: visible";
                document.getElementById("passwordInput").style = "left:2%; position: fixed; top:75%; height: 4.5%; width: 95.7%; font-family: Ubuntu; font-size: 15px; border-width: 3px; border: 3px solid black; border-color: black; visibility: visible";
                document.getElementById("commentInput").style = "left:2%; position: fixed; top:81.5%; height: 5.5%; width: 95.4%; font-family: Ubuntu; font-size: 15px; border-width: 3px; border: 3px solid black; border-color: black; visibility: visible";
                document.getElementById("submitButton").style = "visibility: visible";
                document.getElementById("title").style="position: fixed; top: 26.1%; left: 2.2%; width: 95%;font-family: Ubuntu; font-size: 125%; visibility: visible; color: black; background: white; border-bottom: 1px solid black;";
                if(!hasLoaded)document.getElementById("loading").style="position:fixed; left:42%; top:37%; height: 20%; width: 12%; visibility: visible;";
            }
        }


          firebase.database().ref('/CommentSectionDataframeEdit/').once('value').then(function(datasnapshot)
        {
            var comments= datasnapshot.val();
            for(var key in comments)
            {
                if (comments.hasOwnProperty(key))
                {
                    var commentData=comments[key];
                    var email=commentData.Email;
                    var comment=commentData.comment;

                    if(email!="" || comment!="")
                    {
                        var showing = email + ": ";
                        var span = document.createElement("sdfdasf");
                        span.style.color = "dodgerblue";
                        span.appendChild(document.createTextNode(showing));
                        document.getElementById("upperComments").appendChild(span);
                        showing = comment + "\n";
                        document.getElementById("upperComments").appendChild(document.createTextNode(showing));
                    }
                }
            }
            document.getElementById("loading").style="visibility: hidden";
            hasLoaded=true;
        });

		function checkEmailExistance(mail_id,password) {

		     firebase.database().ref('/Account/').once('value').then(function(datasnapshot) {

                 var exists=false;
                 var comments= datasnapshot.val();

                 for (var key in comments) {
                     if (comments.hasOwnProperty(key)) {
                         var commentData=comments[key];
                         var email=commentData.Email;
                         var pass=commentData.Password;
                         if( mail_id == email && password==pass)
                         {
                             firebaseRef.child("CommentSectionDataframeEdit").push().set(
                                 {
                                     comment: document.getElementById("commentInput").value,
                                     Email: document.getElementById("mailInput").value,
                                 });
                             document.getElementById("mailInput").value="";
                             document.getElementById("passwordInput").value="";
                             document.getElementById("commentInput").value="";
                             location.reload();
                             clickButton(3);
                             return true;
                         }
                     }
                 }
                 alert('Please register first before commenting or check your password.');
                 return false;
             });
        }
        function checkEmailValidation(a)
        {
            var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            if(!filter.test(a))return false;
            else
                return true;
        }

        function addComment()
        {
            var mail = document.getElementById("mailInput").value;
            var pass = document.getElementById("passwordInput").value;
            var req = document.getElementById("commentInput").value;
             if(mail=="" || req=="" || pass=="")
            {
                alert("Please enter your name, e-mail address and request.");
                return;
            }

            if(!checkEmailValidation(mail))
            {
                alert("Please enter a valid e-mail address.");
                return;
            }

            if(!checkEmailExistance(mail,pass));
            {

                return;

            }
            var showing = mail+": ";
            var span = document.createElement("sdfdasf");
            span.style.color="dodgerblue";
            span.appendChild(document.createTextNode(showing));
            document.getElementById("upperComments").appendChild(span);

            showing=req+"\n";
            document.getElementById("upperComments").appendChild(document.createTextNode(showing));

        }

	</script>
</head>
<body background="/static/Images/bg2black.jpg" style="position: fixed">

    <div style="position:fixed; top: 0%; left: 0%; width: 100%; height: 15%; background: black">
        <a href="../../" style="color: royalblue; text-decoration: none; font-family: Ubuntu;
         margin-left: 5.5%; margin-right: 5%; top: 4.6%; position: fixed; font-size: 155%">
            <img src="/static/Images/EasyMLLogo2.png" style="height: 13%; width: 30%">
        </a>
        <a href="../request" class="topButton" style="text-decoration: none; font-family: Ubuntu; margin-left: 5.5%; margin-right: 5%; top: 5.5%; position: fixed; font-size: 115%; left: 12%">Request</a>
        <a href="../signup" class="topButton" style="text-decoration: none; font-family: Ubuntu; margin-left: 5.5%; margin-right: 5%; top: 5.5%; position: fixed; font-size: 115%; left: 19.5%">Sign Up</a>
        <a href="../aboutUs" class="topButton" style="text-decoration: none; font-family: Ubuntu; margin-left: 5.5%; margin-right: 5%; top: 5.5%; position: fixed; font-size: 115%; left: 26.2%">About Us</a>
    </div>

    <button id="howTo" onclick="clickButton(1)" class="buttonClicked" style="position: fixed; top: 21.15%; left: 22%; width: 18.7%">How To Use</button>
    <button id="theory" onclick="clickButton(2)" class="eachButton" style="position: fixed; top: 21.15%; left: 44%; width: 18.7%">Theory</button>
    <button id="comments" onclick="clickButton(3)" class="eachButton" style="position: fixed; top: 21.15%; left: 66%; width: 18.7%">Comments</button>

    <div id="upperHowTo" style="border-width: 3px; font-family: Ubuntu; font-size: 126%; position: fixed;
                border: 3px solid black;top: 29%; left: 2%; border-color: black; overflow: auto; padding: 5px;
                 background: white;width: 95%; height: 59%; visibility: visible;">
        <p style="font-size: 150%; color: dodgerblue">Step-1:</p>
        <p>		Click on the algorithm icon or "visualize" to choose that algorithm.</p>
        <p style="font-size: 150%; color: dodgerblue">Step-2:</p>
        <p>		Drag and upload or select a dataset (a .csv file) from your computer.</p>
        <p style="font-size: 150%; color: dodgerblue">Step-3 (Optional):</p>
        <p>		Sort your dataset according to an attribute by clicking on the attribute.</p>
        <p style="font-size: 150%; color: dodgerblue">Step-4:</p>
        <p>		Scroll down and select an algorithm.</p>
        <p style="font-size: 150%; color: dodgerblue">Step-5:</p>
        <p>		Choose which attributes to show on the axes.</p>
        <p style="font-size: 150%; color: dodgerblue">Step-6:</p>
        <p>		Choose the unit to represent the axes.</p>
        <p style="font-size: 150%; color: dodgerblue">Step-7:</p>
        <p>		Click on "visualize" to visualize".</p>
        <p style="font-size: 150%; color: dodgerblue">Step-8:</p>
        <p>		Click on "Print" to download the output graph as a pdf file.</p>

    </div>

    <div id="upperTheory" style="border-width: 3px; border-radius: 7px; font-family: Ubuntu; font-size: 18px; position: fixed;
                border: 3px solid black;top: 29%; left: 2%; border-color: black; overflow: auto; padding: 5px;
                 width: 95%; height: 57%; visibility: hidden;">

        <a href="https://stackoverflow.com/tags/dataframe/info" style="font-size: 150%;">Dataframe Editor</a>
        <p>A data frame is a tabular data structure. Usually, it contains data where rows are
            observations and columns are variables of various types. While data frame or dataframe
            is the term used for this concept in several languages (R, Apache Spark, deedle, Maple,
            the pandas library in Python and the DataFrames library in Julia), table is the term used
            in MATLAB and SQL.<br>
            The sections below correspond to each language that uses this term and are aimed at the<br>
            level of an audience only familiar with the given language.<br>
        </p>


    </div>

     <div id="upperComments" style="white-space: pre-wrap; border-width: 3px; border-radius: 7px; font-family: Ubuntu; font-size: 18px; position: fixed;
                border: 3px solid black;top: 29%; left: 2%; border-color: black; overflow: auto; padding: 5px;
                 width: 95%; height: 36%; visibility: hidden">
    </div>

    <p id="title" style="visibility: hidden;">Comments:-</p>

    <input style="left: 2%; position: fixed; top:68.5%; height: 4.5%; width: 95%; font-family: Ubuntu; font-size: 15px; border-width: 3px; border-radius: 7px; border: 3px solid black; border-color: black; visibility: hidden" type="email" id="mailInput" placeholder=" Enter e-mail address...">
    <input style="left:2%; position: fixed; top:75%; height: 4.5%; width: 95%; font-family: Ubuntu; font-size: 15px; border-width: 3px; border-radius: 7px; border: 3px solid black; border-color: black; visibility: hidden" type="password" id="passwordInput" placeholder=" Enter password...">
    <textarea style="left:2%; position: fixed; top:81.5%; height: 4.5%; width: 95%; font-family: Ubuntu; font-size: 15px; border-width: 3px; border-radius: 7px; border: 3px solid black; border-color: black; visibility: hidden" id="commentInput" placeholder=" Enter comment..."></textarea>
    <button id="submitButton" class="submitButtonClass" onclick="addComment()" style="visibility: hidden;">Submit</button>

    <img id="loading" , src="/static/Images/loading6.gif" ,
         style="position:fixed; left:38%; top:35%; height: 50%; width: 22%; visibility: hidden;">

    <p id="bottomText3" align="center">
        _________________________________________________________________________________________________________________________________________________________
    </p>
    <p id="bottomText2" align="center">EasyML is a free-to-use tool for data analysis and visualizing data using various Machine Learning algorithms.</p>
    <p id="bottomText1" align="center">We own none of the photos and logos used here.</p>
</body>
</html>
